<!DOCTYPE html>
{% from tornado.options import options %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Fuvism 用最简单、直接的方式学习如何编程。提供了交互式，实战性的在线学习平台。">
    <meta name="keywords" content="fuvism,编程,编程语言,软件开发,在线学习,Python,云计算">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link rel="shortcut icon" href="{{ static_url('images/favicon.png') }}" -->

    <title>Fuvism Console</title>
    <link href="/style.css" rel="stylesheet">
    <script src="{{ static_url('html-sanitizer.js') }}"></script>
    <script src="{{ static_url('jquery-2.1.3.js') }}"></script>
    <script src="{{ static_url('messenger.js') }}"></script>
    <script src="{{ static_url('grab.js') }}"></script>
    <script src="{{ static_url('main.js') }}"></script>
    <script src="{{ static_url('ext.js') }}"></script>
    <!--
    <script src="{{ static_url('main.%sjs' % (
                 '' if options.unminified else 'min.')) }}"></script>
    <script src="{{ static_url('ext.%sjs' % (
        '' if options.unminified else 'min.')) }}"></script> -->
  </head>

  <body spellcheck="false"
        data-force-unicode-width="{{ 'yes' if options.force_unicode_width else 'no' }}">
    <!-- div class="pull-center" id="reconnect" style="display: none;">
        <button class="btn-conn" onclick="location.reload();">Connect</button>
    </div -->
  </body>
</html>
